*:focus {
  outline: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid darkgrey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navigation, .home, .signup, .benefits > div > p, .form-header > p {
  text-align: center;
}

.custom-navbar {
  font-size: 18px;
  background: transparent;
  border: none;
}

.navigation > .custom-navbar {
  margin-bottom: 0px;
  margin-top: -10px;
}
.custom-brand {
  margin-top: 30px;
  color: #777;
  font-family: cursive;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin-top: 0px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.page-header > i {
  font-size: 20px;
}

.display {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
}

.display > .item {
  height: 29vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display .item img {
  width: 28vw;
  height: 28vw;
  border: 3px solid lightgrey;
  cursor: pointer;
}

.item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid lightgrey;
}

.add-cart > span{
  color: green;
  cursor: pointer;
}

.img-item {
  width: 8vw;
  height: 6vw;
}

.item-name {
  text-decoration: underline;
}

.slider > div img {
  display: inline;
  cursor: pointer;
}

.button {
  margin: 0px 10px;
}

.benefits, .form-header, .form {
  /*border: 3px solid green;*/
  text-align: left;
}

.benefits, .about {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 25px;
}


ul {
  list-style: none;
}

.benefits-list li:before {
  content: '✓';
  margin-right: 10px;
  color: lightgreen;
  font-weight: bold;
  font-size: 20px;
}

.form-header {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form {
  max-width: 700px;
  margin: 0 auto;
}

.benefits > div > p, .form-header > p {
  font-weight: bold;
}

.contact {
  float: right;
  margin: 30px 90px 30px 0px;
  font-size: 18px;
  color: #777;
}

.cart-title {
  text-align: center;
}

.view-cart-btn {
  margin-top: 15px;
}

.cart-buttons {
  margin-top: 20px;
}

.close-modal {
  float: right;
}

.shopping-cart {
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*width: 80%;
  margin: 0 auto;*/
}

.cart-pics {
  /*border: 3px solid red;*/
  border-radius: 50%;
  margin-left: 3vw;
}

.cart-details {
  font-size: 18px;
  /*border: 3px solid yellow;*/
  width: 50vw;
}

.cart-details span {
  font-weight: bold;
}

.cart-pics img {
  width: 18vw;
  height: 18vw;
  border: 3px solid black;
  border-radius: 50%;
}

.cart-msg, .flash-msg {
  font-weight: bold;
}

.greeting {
  margin-bottom: 40px;
}
