.App {
  text-align: center;
  /*border: 3px solid red;*/
  margin-bottom: 60px;
}

.custom-navbar {
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  background: transparent;
  border: none;
}

.custom-brand {
  margin-bottom: 50px;
  color: #777;
  font-family: cursive;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
  /*border: 2px solid red;*/
}

.page-header {
  border-bottom: 1px solid #333;
}

.page-header > i {
  font-size: 20px;
}

.display {
  margin-top: 20px;
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
}

.display > .add-cart {
  border: 3px solid red;
  text-align: right;
  padding: 45px 85px 25px 0px;
}

.display > .item {
  border: 3px solid blue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid lightgrey;
}

.select-item-header {
  /*border: 3px solid orange;*/
  margin-top: 50px;
}

.item-collection {
  /*border: 3px solid black;*/
  margin-top: 50px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*justify-content: center;*/
  justify-content: space-around;
}

.div-item {
  border: 3px solid green;
  min-width: 10vw;
  min-height: 10vh;
  /*align-items: center;
  justify-content: center;*/
}
