*:focus {
  outline: none;
}

.App {
  text-align: center;
}

.custom-navbar {
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  background: transparent;
  border: none;
}

.custom-brand {
  color: #777;
  font-family: cursive;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #333;
}

.page-header > i {
  font-size: 20px;
}

.display {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
}

.display > .item {
  height: 29vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display .item img {
  width: 28vw;
  height: 28vw;
  border: 3px solid lightgrey;
  cursor: pointer;
}

.item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid lightgrey;
}

.add-cart > span{
  color: green;
  cursor: pointer;
}

.img-item {
  width: 8vw;
  height: 6vw;
}

.item-name {
  text-decoration: underline;
}

.slider > div img {
  display: inline;
  cursor: pointer;
}

.button {
  margin: 0px 10px;
}


.contact {
  float: right;
  margin: 30px 90px 30px 0px;
  font-size: 18px;
  color: #777;
}
